html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(90, 90, 90);
}

ul {
    padding: 0;
    list-style-type: none;
}

h3{
    text-decoration: underline;
}

.center-text {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    
}

.grid-item{
    height: 100%;
    margin: 5px 0 5px 0;
}

.grid-item:nth-child(2n){
    border-left: 2px solid black;
    padding-left: 5px;
}

.issue-card {
    width: 60%;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 8px;
}

.issue-card-head {
    color: white;
    padding: 3px;
    background-color: rgb(22, 72, 223);
    
}

.issue-card-head-updated {
    background-color: rgb(1, 134, 1);
}

.issue-card li {
    padding-left: 5px;
    margin-top: 2px;
    overflow-wrap: break-word;
}

.note-card {
    width: 50%;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 8px;
}

.note-card-head {
    color: white;
    padding: 3px;
    background-color: rgb(22, 72, 223);
    
}

.note-card li {
    padding-left: 5px;
    margin-top: 2px;
    overflow-wrap: break-word;
}


