html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(90, 90, 90);
}

ul {
    padding: 0;
    list-style-type: none;
}

.center-text {
    text-align: center;
}

.flex-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

