<div class="center-text"><h1>Real-time issues</h1></div>
<div class="grid">
    <h3 class="grid-item">All issues</h3>
    <h3 class="grid-item">Notifications</h3>
    <ul id="issues" class="grid-item">
      <li><div class="issue-card">
          <div id="issue-card-head">New issue</div>
          <ul id="issue-card-ul">
              <li>2222222222222</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
          </ul>
      </div></li>
  </ul>
<ul id="notifications" class="grid-item">
      <li>3</li>
      <li>4</li>
  </ul></div>
